body {
    background: url("craftbrew.svg") no-repeat;
    background-size: 13% auto;
    background-position: left 7% top;
    background-color: #efeffe;
    padding-top: 5%;
}
.content {
    text-align: center;
    font-family: "SBL Hebrew";
    font-size: 60px;
    width: 60%;
    margin: auto;
}
.content:empty:after {
    font-size: 20px;
    content: "merely type...";
}
